@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --color-footer: hsl(243, 87%, 12%);
  --color-access: hsl(238, 22%, 44%);
  --color-btn: hsl(224, 93%, 58%);
  --color-FyloWorks: hsl(170, 45%, 43%);
  --color-primary: hsl(240, 75%, 98%);
  --color-bg: hsl(0, 0%, 75%);
  --font-body: "Open Sans", sans-serif;
  --font-headings: "Raleway", sans-serif;
}

html {
  font-family: var(--font-body);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--color-footer);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ***utilities*** */
.form {
  display: grid;
  row-gap: 1rem;
}

.submit {
  padding: 1rem;
  font-size: 1.16rem;
  border-radius: 7px;
}

.btn {
  color: var(--color-primary);
  background-color: var(--color-btn);
  border-color: var(--color-btn);
  font-family: 'Raleway';
  font-weight: 700;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 25%);
}

/* ***site styles*** */
.container {
    row-gap: 8.5rem;
}

.wrap {
  display: grid;
  grid-auto-flow: row;
  padding: 2.4rem clamp(2rem, 6vw, 90rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 30%;
}

.header-links {
  font-family: var(--font-headings);
  width: 70%;
  display: flex;
  justify-content: flex-end;

}

.header-links a {
  margin-left: 0.5rem;
  text-decoration: none;
  font-size: 1.16rem;
} 

.description {
  margin: 2rem 0;
  text-align: center;
}

.description h1 {
  font-size: 1.8rem;
  line-height: 1.6;
}

.description p {
  margin: 2rem 0;
  font-size: 1.16rem;
}

.headings {
  font-family: var(--font-headings);
}

.testimony-description {
  text-align: initial;
}

.access {
  background-color: var(--color-access);
  color: var(--color-primary);
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.form-access {
  width: 82%;
  margin: 0 auto;
}

.submit-access {
  font-size: 1rem;
}

.footer {
  background-color: var(--color-footer);
  color: var(--color-primary);
  padding-top: 5rem;
  padding-bottom: 3rem;
  row-gap: 3rem;
}

.contact {
  display: flex;
  align-items: center;
}

.contact h3 {
  margin-left: 1.5rem;
}

.footer-contact h3 {
  font-weight: 100;
  margin-bottom: 1rem;
}

.footer-contact figure{
  padding-bottom: 3rem;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social a {
  margin-right: 1rem;
  font-size: 24px;
}