@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --color-footer: hsl(243, 87%, 12%);
  --color-access: hsl(238, 22%, 44%);
  --color-btn: hsl(224, 93%, 58%);
  --color-links: hsl(170, 45%, 43%);
  --color-primary: hsl(240, 75%, 98%);
  --color-bg: hsl(0, 0%, 75%);
  --font-body: "Open Sans", sans-serif;
  --font-headings: "Raleway", sans-serif;
  --wrap: 2.5rem clamp(2rem, 6vw, 90rem);
  --wrap-section: 3.5rem clamp(2rem, 6vw, 90rem);
  --wrap-desktop: 4.5rem clamp(2rem, 6vw, 90rem);
}

html {
  font-family: var(--font-body);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--color-footer);
}

a {
  transition: all 0.5s ease-out;
}

a:hover {
  color: var(--color-links);
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

figure {
  transition: all 0.5s ease-out;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ***utilities*** */
.form {
  display: grid;
  row-gap: 1rem;
}

.submit {
  padding: 0.6rem;
  border-radius: 7px;
  border: none;
}

.btn {
  color: var(--color-primary);
  background-color: var(--color-btn);
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 25%);
  border:none;
  font-family: 'Raleway';
  font-weight: 700;
  cursor: pointer; 
  transition: all 0.5s ease-out;
}

.btn:hover {
  background-color: var(--color-links);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .position {
    order: 1
   }
}

/* ***site styles*** */
.container {
    row-gap: 6.5rem;
}

.wrap {
  display: grid;
  padding: var(--wrap);
}

.wrap-hero {
  padding-bottom: 9rem;
}

.wrap-section {
  padding: var(--wrap-section); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 30%;
}

.header-links {
  font-family: var(--font-headings);
  width: 70%;
  display: flex;
  justify-content: flex-end;

}

.header-links a {
  margin-left: 0.5rem;
  text-decoration: none;
} 

.size-paragraph {
  font-size: clamp(0.9rem, 1.25vw, 2rem);
}

.size-paragraph-testimony {
  font-size: clamp(0.8rem, 1.10vw, 1.75rem);
}

.size-name-testimony {
  font-size: clamp(0.8rem, 1.1vw, 1.25rem);
}

.size-profession-testimony {
  font-size: clamp(0.7rem, 0.9vw, 1.10rem);
}

.size-form {
  font-size: clamp(0.9rem, 1vw, 1.5rem);
}

.size-access {
  font-size: clamp(1.3rem, 2.2vw, 2.9rem);
}

.size-title {
  font-size: clamp(1.1rem, 2.6vw, 4rem);
}

.size-files {
  font-size: clamp(1.5rem, 2.7vw, 4rem);
}

.input {
  border: medium solid var(--color-bg);
}

.files {
  display: grid;
  row-gap: 3rem;
}


.description {
  display: grid;
  row-gap: 2rem;
  align-self: center;
}

.description h1 {
  line-height: 1.6;
}

.headings {
  font-family: var(--font-headings);
}

/* Section testimony */
.bg-curve {
  position: relative;
}

.bg-curve img {
  position: absolute;
  width: 100vw;
  bottom: -0.9px;
  height: fit-content;
}

.curve-mobile {
  visibility: visible;
}

.curve-desktop {
  visibility: hidden;
}

.testimony {
  background-color: var(--color-primary);
  row-gap: 5rem;
}

.testimony-link {
  border-bottom: thin solid var(--color-links);
  padding-bottom: 0.5rem;
  margin: 0 auto;
  font-size: clamp(0.9rem, 1.25vw, 2rem);
}

.testimony-link a:hover {
  font-size: 1.15rem;
  transition: all 0.5s ease-out;
}

.testimony-link a {
  text-decoration: none;
  color: var(--color-links); 
}

.description .aside {
  display: grid;
  row-gap: 1rem;
  width: 87%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 25%);
  margin: 2rem auto;
  font-family: 'Open Sans'
}

.testimony-avatar {
  display: flex;
  text-align: start;
  align-items: center;
}

.testimony-avatar .avatar {
  border-radius: 50%;
  width: 45px;
  margin-right: 1rem;
}

.aside img {
  width: 20px;
}

/* section access */
.access {
  background-color: var(--color-access);
  color: white;
  row-gap: 2rem; 
}

.form-access {
  width: 82%;
  margin: 0 auto;
}

/* Sección footer */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 3rem;
}

.footer {
  background-color: var(--color-footer);
  row-gap: 3rem;
}

.contact {
  display: flex;
  align-items: center;
}

.contact h3 {
  margin-left: 1.5rem;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-size: clamp(0.9rem, 1.25vw, 1.85rem);
}

.footer-link:hover {
  color: var(--color-links);
}

.footer-contact {
  display: grid;
  align-content: start;
  row-gap: 1rem;
}

.footer-social {
  justify-content: center;
}

.footer-social a {
  margin-right: 1rem;
  font-size: 23px;
}

@media screen and (min-width: 710px) {
  .footer-social {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-access {
    width: 60%;
  }
}


@media screen and (min-width: 1024px) {
.wrap-desktop {
  padding: var(--wrap-desktop);
}

.wrap-hero {
  padding-bottom: 16rem;
}

.curve-mobile {
  visibility: hidden;
}

.curve-desktop {
  visibility: visible;
}

.description .aside {
  margin: 2rem 0;
  width: 63%;
}

.description .size-paragraph {
  width: 93%;
}

.grid figure {
  align-self: center;
  order: 2; 
}

.grid {
  grid-template-columns: 1fr 1fr;
}

.testimony-link {
  margin: 0 auto 0 0;
}

.access {
  grid-template-columns: 43% 40%;
  justify-content: space-between;
}

.submit-access {
  width: 40%;
}

.form-access {
  width: 100%;
  margin: 0;
  row-gap: 2rem;
  align-content: end;
}

.form-grid {
  grid-template-columns: 22vw 14vw;
    justify-content: space-between;
    align-content: baseline;
    width: 85%;
}

.header-links a {
  margin-left: 1.5rem;
}
}



